VITE_LINKDING_API_TOKEN=# DEVELOPMENT & STAGING ONLY

# --- ECHOLINK ---
APP_PORT=3000
LINKDING_CONTAINER_URL=http://linkding:9090
LINKDING_API_TOKEN=# PRODUCTION ONLY

# Optional
ECHOLINK_USER_NAME=
LINKDING_EXTERNAL_URL=http://localhost:9090

# --- LINKDING ---
# see https://linkding.link/options/#ld_csrf_trusted_origins
LD_CSRF_TRUSTED_ORIGINS=http://localhost:3000,https://echo.lan.domain.com

# Optional
LD_SUPERUSER_NAME=
LD_SUPERUSER_PASSWORD=
