#=======================#
# Echo link (Client app)
#=======================#

# INTERNAL connection to the Linkding container
# Only change this if you renamed the linkding service
# or changed its internal port in compose.yml
LINKDING_CONTAINER_URL=http://linkding:9090

#=======================#
# Linkding
#=======================#

LD_SUPERUSER_NAME=
LD_SUPERUSER_PASSWORD=
LD_CSRF_TRUSTED_ORIGINS=http://localhost:3000,https://echo.lan.domain.com
