:8080

root * /srv

@envjs path /env.js
handle @envjs {
    header Content-Type "application/javascript"
    respond "window.__ENV__ = { VITE_PUBLIC_LINKDING_URL: \"${VITE_PUBLIC_LINKDING_URL}\" };"
}

@linkding path /api/* /static/*
reverse_proxy @linkding http://linkding:9090 {
    header_up Host linkding:9090
}

handle {
    try_files {path} {path}/ /index.html
    file_server
}
